
/*##################################################
-------------LIST-------------
 00: Reset
 01: Basic
 02: Common
 03: Wrapper 
 04: Block
 05: Contents
 06: Section Title
 07: Banner
 08: About
 09: Course
 10: Pricing
 11: FAQ
 12: Profiles
 13: Footer Button
 14: Footer
 15: Landing
------------------------------
##################################################*/


/* --------------------------------------------------
 00: Reset Style
 -------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h3, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, menu, nav, section, summary,
time, mark, audio, video {	
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}


/* --------------------------------------------------
 01: Basic Style
 -------------------------------------------------- */

*,
*:before,
*:after {
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body {
	background-color: #fff;
	color: #503157;
	font-family: YuGothic, "Yu Gothic", "vdl-v7gothic" ,sans-serif;
	font-family: "sofia-pro", sans-serif;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.075em;
	line-height: 1.2;
	-webkit-text-size-adjust: 100%;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 1.4rem;
	}
}

	body.is-loading *, body.is-loading *:before, body.is-loading *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

p { 
	font-size: 1.6rem;
	line-height: 1.8;
}

	.p-spacing p:not(:last-child) {margin-bottom: 20px;}
	
	p.lhS {line-height: 1;}
	p.lhM {line-height: 1.8;}

	.pXS *, .pXS p, .pXS {font-size: 1.2rem;}
	.pS *, .pS p, .pS {font-size: 1.4rem;}
	.pM *, .pM p, .pM {font-size: 1.6rem;}
	.pL *, .pL p, .pL {font-size: 1.8rem;}
	.pXL *, .pXL p, .pXL {font-size: 2.0rem;}

	@media screen and (max-width: 768px) {

		p {font-size: 1.2rem;}

			.p-spacing p:not(:last-child) {margin-bottom: 12px;}
			
			.pS *, .pS p, .pS {font-size: 1.2rem;}
			.pM *, .pM p, .pM {font-size: 1.4rem;}
			.pL *, .pL p, .pL {font-size: 1.6rem;}
			.pXL *, .pXL p, .pXL {font-size: 1.8rem;}
	}


ul, li {
	line-height: 1.8;
	list-style: none;
}

a {
	border-bottom: solid 2px;
	color: inherit;
	font-weight: 600;
	text-decoration: none;
	-moz-transition: border-bottom-color 0.15s ease;
	-webkit-transition: border-bottom-color 0.15s ease;
	-ms-transition: border-bottom-color 0.15s ease;
	transition: border-bottom-color 0.15s ease;
}

	a:hover {
		border-bottom-color: transparent;
	}

	@media screen and (max-width: 768px) {

		a {
			border-bottom: solid 2px;
			padding-bottom: 0;
		}
	}

strong, b {font-weight: 700;}
i {font-style: italic;}

mark {
	background: none;
	color: inherit;
}

br {
	margin-bottom: 0 !important;
}


/* Headings
-------------------------------------------------- */
h1 a, h2 a, h3 a {
	color: inherit;
	text-decoration: none;
}

	@media screen and (max-width: 768px) {
		h2 br { display: none; }
	}


h3 {
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1;
}

	.h3XXXS h3, .h3XXXS {font-size: 1.8rem;}
	.h3XXS h3, .h3XXS {font-size: 2.0rem;}
	.h3SS h3, .h3XS {font-size: 2.2rem;}
	.h3S h3, .h3S {font-size: 2.4rem;}
	.h3M h3, .h3M {font-size: 2.6rem;}
	.h3L h3, .h3L {font-size: 2.8rem;}
	.h3LL h3, .h3XL {font-size: 3.0rem;}

	h3.lhXS {line-height: 1;}
	h3.lhS {line-height: 1.4;}
	h3.lhM {line-height: 1.7;}

	@media screen and (max-width: 768px) {
		h3 {font-size: 2.4rem;}

		.h3XXXS h3, .h3XXXS {font-size: 1.6rem;}
		.h3XXS h3, .h3XXS {font-size: 1.6rem;}
		.h3SS h3, .h3XS {font-size: 2.0rem;}
		.h3S h3, .h3S {font-size: 2.2rem;}
		.h3M h3, .h3M {font-size: 2.0rem;}
		.h3L h3, .h3L {font-size: 2.6rem;}
		.h3LL h3, .h3XL {font-size: 2.8rem;}
	}


/* Highlight Selection
-------------------------------------------------- */
::selection { background: #503157; color: #fff; }
::-moz-selection { background: #503157; color: #fff; }


/* Images
-------------------------------------------------- */
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}


/* --------------------------------------------------
 02: Common Styles
 -------------------------------------------------- */

/* Colours
-------------------------------------------------- */
/*Playfool Pink: #f32d83
Grad. Pink: #ed738a
Playfool Purple: #503157 
Grad. Purple: #381c3e*/

.white, *.white * { color: #fff; }
.pink, *.pink * { color: #f32d83; }


/* Backgrounds
-------------------------------------------------- */
.white_bg {
	background-color: #fff;
}

.grey_bg {
	background-color: rgba(80,49,87, 0.15);
}

.pink_grad {
	background: #f32d83;
	background: -webkit-linear-gradient(left top, #ed738a, #f32d83); 
	background: -o-linear-gradient(bottom right, #ed738a, #f32d83); 
	background: -moz-linear-gradient(bottom right, #ed738a, #f32d83);
	background: linear-gradient(to bottom right, #ed738a, #f32d83);
}

.purple_grad {
	background: #503157;
	background: -webkit-linear-gradient(left top, #381c3e, #503157); 
	background: -o-linear-gradient(bottom right, #381c3e, #503157); 
	background: -moz-linear-gradient(bottom right, #381c3e, #503157);
	background: linear-gradient(to bottom right, #381c3e, #503157);
}

.pink_grad_pic {
	background-image: url("../../images/background_img_01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 0;
}

	.pink_grad_pic::after {
		background: #f32d83;
		background: -webkit-linear-gradient(left top, #ed738a, #f32d83); 
		background: -o-linear-gradient(bottom right, #ed738a, #f32d83); 
		background: -moz-linear-gradient(bottom right, #ed738a, #f32d83);
		background: linear-gradient(to bottom right, #ed738a, #f32d83);
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

.purple_grad_pic {
	background-image: url("../../images/background_img_01.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 0;
}

	.purple_grad_pic::before {
		background: #fff;
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	.purple_grad_pic::after {
		background: #503157;
		background: -webkit-linear-gradient(left top, #381c3e, #503157); 
		background: -o-linear-gradient(bottom right, #381c3e, #503157); 
		background: -moz-linear-gradient(bottom right, #381c3e, #503157);
		background: linear-gradient(to bottom right, #381c3e, #503157);
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.5;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}


/* Display
-------------------------------------------------- */
.display-pc {}
@media only screen and (max-width: 768px) {
	.display-pc {
		display: none !important;
	}
}
.display-sp { display: none;}
@media only screen and (max-width: 768px) {
	.display-sp {
		display: block !important;
	}
}


/* --------------------------------------------------
 03: Wrapper Style
 -------------------------------------------------- */

.wrapper {
	box-sizing: content-box;
	overflow: hidden;
	padding: 70px 12px;
	position: relative;
}

	@media screen and (max-width: 768px) {
		.wrapper {
			padding: 40px 12px;
		}
	}


/* --------------------------------------------------
 04: Block Style
-------------------------------------------------- */

.block {
	background-color: #fff;
	max-width: 1140px;
	margin: 0 auto;
	padding: 60px 0 90px;
}

	.block.transparent {
		background-color: transparent;
		border: 3px solid #fff;
	}

.block_inner {
	margin: 0 auto;
	max-width: 1020px;
	padding: 0 25px;
}

	.block_inner > *:not(.title_block):not(:last-child):nth-child(n){
		margin-bottom: 40px;
	}

@media screen and (max-width: 768px) {

.block {
	padding: 35px 0 45px;
}

	.block_inner > *:not(.title_block):not(:last-child):nth-child(n){
		margin-bottom: 25px;
	}

}


/* --------------------------------------------------
 05: Content Style
 -------------------------------------------------- */

/* Squiggly Line
-------------------------------------------------- */
.squiggly_line {
	opacity: 0.4;
}


/* Borders
-------------------------------------------------- */

.border {border: 3px solid #503157;}
.white_border > * {border: 3px solid #fff;}
.pink_border > * {border: 3px solid #f32d83;}
.no_border > * { border: none !important; }

@media screen and (max-width: 768px) {
	* {
		border-width: 2px !important;
	}
}


/* Book Button
-------------------------------------------------- */
.book_button {
	background-color: #f32d83;
	border: 3px solid #f32d83;
    cursor: pointer !important;
    display: block;
    float: bottom; 
    font-family: inherit;
    padding: 35px 10px;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    width: 100%;
    z-index: 1000;

	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

	.book_button p {
		font-size: 2.2rem;
		font-weight: 700;
		letter-spacing: 0.08em;
		line-height: 1.4;
	}

	.book_button br {display: none;}

	.book_button:hover {
		opacity: 0.7;
		-moz-transition: opacity 0.5s ease;
		-webkit-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
	}

	.book_button:after {
		font-size: 1rem;
		border-bottom: 0.4em solid #fff;
		border-right: 0.4em solid #fff;
		content: "";
		height: 1.5em;
		top: 50%;
		position: absolute;	
		-webkit-transform: translateY(-50%) rotate(-45deg);
		transform: translateY(-50%) rotate(-45deg);
		right: 2.5em;
		width: 1.5em;
	}


@media screen and (max-width: 768px){

	.book_button {
		padding: 10px;
	}

		.book_button p {
			font-size: 1.3em;
		}

		.book_button br {display: block;}

		.book_button:after {
			font-size: 0.7rem;
			right: 2.2em;
		}
}

	
/* Detail Column
-------------------------------------------------- */

.detail_column_block {
	display: -webkit-flex;
	display: flex;
	width: 100%;
}

.detail_column_item {
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	width: 100%;
}

	.detail_column_item:nth-child(2) {
		margin: 0 20px;
	}

.detail_column_image {
	margin-bottom: 20px;
	width: auto;
}

.detail_column_subtitle {
	margin-bottom: 12px;
}


@media screen and (max-width: 768px) {
	.detail_column_block {
		display: block;
	}

	.detail_column_item {
		width: auto;
	}

		.detail_column_item:nth-child(2) {
			margin: 25px 0;
		}

	.detail_column_image  {
		margin: 0 auto 15px;
		max-width: 300px;
	}
	
}

/* Detail Row
-------------------------------------------------- */
.detail_row_block {
	width: 100%;
}

.detail_row_item {
	box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
	padding: 20px 40px 20px 20px;
	text-align: left;
	width: 100%;
}

	.detail_row_item:nth-child(2) {
		margin: 30px 0;
	}

	.detail_row_item:nth-child(2n){
		-webkit-flex-direction: row-reverse;
	    flex-direction: row-reverse; 
	    padding: 20px 20px 20px 40px;
	}

.detail_row_image {
	display: inline-block;
	width: 50%;
}

.detail_row_inner {
	display: block;
	height: auto;
	margin: 0 0 0 20px;
	width: 50%;
}

	.detail_row_item:nth-child(2n) .detail_row_inner{
		margin: 0 20px 0 0;
	}

.detail_row_content {
	-webkit-flex-direction: column;
	flex-direction: column;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-justify-content: center;
    justify-content: center;
}

.detail_row_subtitle {
	margin-bottom: 12px;
}


@media screen and (max-width: 768px) {

	.detail_row_item {
		display: block;
		padding: 20px !important;
		text-align: center;
		width: auto;
	}

		.detail_row_item:nth-child(2) {
			margin: 25px 0;
		}

		.detail_row_item:nth-child(n) .detail_row_inner{
			margin: 0;
		}

	.detail_row_image  {
		margin: 0 auto 15px;
		max-width: 300px; 
		width: 100%;
	}

	.detail_row_inner {
		width: 100%;
	}
}

/* animation
-------------------------------------------------- */
@-webkit-keyframes fadeIn {
	0% { visibility: hidden; opacity: 0;}
	100% { opacity: 1;}
}
@keyframes fadeIn {
	0% { visibility: hidden; opacity: 0;}
	100% { opacity: 1;}
}

@-webkit-keyframes slideIn {
	0% { -webkit-transform: translateY(100px);}
	100% { -webkit-transform: translateY(0);}
}
@keyframes slideIn {
	0% {transform: translateY(100px);}
	100% {transform: translateY(0);}
}


/* --------------------------------------------------
 06: Section Title Style
-------------------------------------------------- */

.title_block {
	margin-bottom: 50px;
}
	
	.title_block h1{
		font-family: "sofia-pro";
		font-size: 7rem;
		font-style: italic;
		font-weight: 300;
		line-height: 0.62;
		margin-bottom: 30px;
		opacity: 0.4;
		padding: 0 0 0.13em 0;
	}

	.title_block h2 {
		font-size: 3.2rem;
		font-weight: 700;
		line-height: 1.7;
		margin-bottom: 30px;
	}

	.title_block:after {
		background-color: #503157;
		content: "";
		display: block;
		height: 3.5px;
		opacity: 0.4;
		width: 50px;	
	}

		.title_block.white:after{
			background-color: #fff;
		}

@media screen and (max-width: 768px) {

	.title_block {
		margin-bottom: 30px;
	}

		.title_block h1{
			font-size: 4.2rem;
			margin-bottom: 15px;
		}

		.title_block h2{
			font-size: 1.8rem;
			line-height: 1.6;
			margin-bottom: 15px;
		}

		.title_block:after {
			height: 2px;
			width: 30px;
		}
}


/* --------------------------------------------------
 07: Banner Style
-------------------------------------------------- */

.landing {
	opacity: 0;
	-webkit-animation: fadeIn 2s ease-in-out forwards;
	animation: fadeIn 2s ease-in-out forwards;
}

#banner {
	cursor: default;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	justify-content: center;
	height: 95vh;
	opacity: 1;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.main_title_inner {
	-webkit-animation: fadeIn 1.5s ease-in-out 0.5s forwards, slideIn 1.5s ease-in-out 0.5s forwards;
	animation: fadeIn 1.5s ease-in-out 0.5s forwards, slideIn 1.5s ease-in-out 0.5s forwards;
	margin: 0 auto 20px auto;
	opacity: 0;
	padding: 0 37px;
	z-index: 1000;
}

	.main_title_inner *:first-child{
		margin-bottom: 60px;
	}

	.main_title_inner .logo {
		display: inline-block;
		opacity: 1;
		outline: 1px solid transparent;
		position: relative;
		width: 250px;
		z-index: 1;
	}

.scroll {
	-webkit-animation: fadeIn 1s ease-in-out 2s forwards, slideIn 1s ease-in-out 2s forwards;
	animation: fadeIn 1s ease-in-out 2s forwards, slideIn 1s ease-in-out 2s forwards;			
	bottom: 3.9em;
	font-size: 1rem;
	height: auto;
	margin: 0 auto;
	opacity: 0;
	outline: 0;
	position: absolute;
	width: 100%;
}

	.scroll h3 {
		margin-bottom: 8px;
	}

	.scroll:after {
		border-bottom: 4px solid #f32d83;
		border-right: 4px solid #f32d83;
		content: "";
		font-size: 1em;
		height: 2em;
		left: 50%;
		position: absolute;	
		top: 2.2em;
		-webkit-transform: translateX(-50%) rotate(45deg);
		transform: translateX(-50%) rotate(45deg);
		width: 2em;
	}

	
@media screen and (max-width: 768px) {

	#banner {
		height: 90vh;
	}

	.main_title_inner {
		margin: 0 auto 15px auto;
		max-width: 560px;
	}

		.main_title_inner *:first-child{
			margin-bottom: 30px;
		}

		.main_title_inner .h3L{
			font-size: 1.6rem;
		}

			.main_title_inner .h3L br {
				display: none;
			}

		.main_title_inner .logo {
			width: 140px;
		}

	.scroll {
		font-size: 0.8rem;			
	}
		
		.scroll h3 {
			margin-bottom: 4px;
		}

		.scroll:after {
			border-width: 3px;
		}
}

@media screen and (max-width: 768px) 
and (orientation: landscape) {

	.main_title_inner {
		margin: 0 auto 30px auto;
	}

		.main_title_inner *:first-child{
			margin-bottom: 20px;
		}

		.main_title_inner .h3L{
			font-size: 1.6rem;
		}

			.main_title_inner .h3L br {
				display: block;
			}
}


/* Background Video
-------------------------------------------------- */
.bg_container {
	position: absolute;
	width: 100%;
	height: 100%;
}

	.bg_container::after {
		background: #503157;
		background: -webkit-linear-gradient(left top, #381c3e, #503157); 
		background: -o-linear-gradient(bottom right, #381c3e, #503157); 
		background: -moz-linear-gradient(bottom right, #381c3e, #503157);
		background: linear-gradient(to bottom right, #381c3e, #503157);
		content: "";
		height: 100%;
		left: 0;
		opacity: 0.1;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}

	#bg_vid {
	    left: 50%;
	    min-width: 100%;
	    min-height: 100%;
		opacity: 0.2;
	    pointer-events: none;
	    position: absolute;
	    top: 50%;
	    -ms-transform: translateX(-50%) translateY(-50%);
	    -moz-transform: translateX(-50%) translateY(-50%);
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
		z-index: -2;
	}

	#mobile_bg {
		background-image: url("../../images/banner_img_01.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		display: none;
		height: 100%;
		opacity: 0.2;
		width: 100%;
		z-index: -1;
	}


/* --------------------------------------------------
 08: About Style
-------------------------------------------------- */

.about_profile_inner {
	position: relative;
	width: 100%;
}

.about_profile_pic {
	line-height: 0;
	width: 52%;
}

	.about_profile_pic img {
		width: 100%;
	}

.about_profile_text {
	box-sizing: border-box;
	border: 3px solid #f32d83;
	display: flex;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
	width: 52%;
}

.about_profile_text_inner {
	max-width: 340px;
	padding: 30px 20px 30px 40px;
}

.about_profile_title {
	font-weight: 700;
}

.about_profile_subtitle {
	margin-bottom: 8px;
}

.about_profile_inner:nth-child(2n) .about_profile_pic{margin: 0 0 0 auto;}

.about_profile_inner:nth-child(2n) .about_profile_text{left: 0;}
	
.about_profile_inner:nth-child(2n) .about_profile_text_inner{padding: 30px 40px 30px 20px ;}
	

@media only screen and (max-width: 768px){

	.about_profile_pic {
		margin-bottom: 15px !important;
		width: auto;
	}

	.about_profile_text {
		position: static;
		-webkit-transform: none;
    	transform: none;
    	width: auto;
	}

		.about_profile_text_inner {
			padding: 20px !important;
		}
}


/* --------------------------------------------------
 09: Course Style
-------------------------------------------------- */

.course_item {
	width: 100%;
}

.course_desc {
	padding: 40px;
}

.course_headline {
	margin-bottom: 20px;
	text-align: center;
}

.course_img_container {
    display: table;
    text-align: center;
	width: 100%;
}

	.-workshop .course_img_container {
		margin-bottom: 20px;
	}

.-workshop .course_img {
	width: 49%;
	opacity: 0.85;
}

.-facilitator .course_img {
	width: 33.33%;
}

	.course_img:first-child { float: left; }
	.course_img:last-child { float: right; }

@media screen and (max-width: 768px){
		
	.course_desc {
		padding: 20px;
		display: block;
	}

	.course_headline {
		margin-bottom: 12px;
	}

	.-workshop .course_img_container {
		margin-bottom: 12px;
	}

}


/* --------------------------------------------------
 10: Pricing Style
-------------------------------------------------- */

/* Date
-------------------------------------------------- */

#pricing em {
	font-size: 1.1em;
}

.date_container {
	display: -webkit-flex;
    display: flex;
}

	.date_container:first-child{
		margin-bottom: 15px;
	}

.date_title {
	background: #f32d83;
	font-weight: 700;
	padding: 15px 15px 30px;
	width: 40%;
}

	.date_title .title {
		font-size: 3rem;
		line-height: 0.8;
		margin-bottom: 15px;
	}

.date_text_inner {
	width: 60%;
}

.date_text {
	line-height: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

	.date_text .date {
		bottom: 2px;
		font-size: 3rem;
		font-weight: 700;
		line-height: 0.75;
		position: relative;
	}
		
		.date_text .date em {
			font-weight: 500;
		}

		.date_text .date br {
			display: none;
		}

		.date_text .extra_detail {
			margin-top: 15px;
		}

.price_deal {
	border: 3px solid #f32d83;
	padding: 70px 50px;
	position: relative;
}

.price_deal_container {
	position: relative;
	height: 150px;
	margin: 0 auto;
	max-width: 657px;
}

/* Original Price
-------------------------------------------------- */
.original_price {
	display: inline-block;
	font-size: 4rem;
	line-height: 1;
}

	.original_price em:after {
	    border-bottom: 5px solid #f32d83;
		content: '';
	    position: absolute;
	    right: -48%;
	    top: 54%;
	    width: 248px;
	}

	.original_price span {
		font-weight: 400;
		font-size: 1.4rem;
		padding-left: 0.2em;
	}

.original_price strong, .new_price strong {
	font-size: 0.7em;
}

.new_price em, .original_price em {
	font-style: italic;
	margin-right: 0.09em;
	position: relative;
}


/* New Price
-------------------------------------------------- */
.new_price_container {
	bottom: 0;
    display: table;
	position: absolute;
    right: 0;
}

.new_price_inner {
	display: table-cell;
	vertical-align: bottom;
}

.new_price {
	font-size: 6.7rem;
}

	.new_price span {
		font-weight: 400;
		font-size: 2.2rem;
		padding-left: 0.2em;
	}

.price_bubble {
	background-color: #f32d83;
	border-radius: 1000px;
	-webkit-flex-direction: column;
	flex-direction: column;
    display: -webkit-flex;
    display: flex;
    height: 150px;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: -10px;
	width: 150px;
}

	.price_bubble p {
		text-align: center;
		font-size: 1.8rem;
		font-weight: 400;
		letter-spacing: 0.1em;
	}

@media screen and (max-width: 768px){

	/* Date
	-------------------------------------------------- */

	.date_title {
		padding: 15px 10px 15px 15px;
		width: 50%;
	}

		.date_title .title {
			font-size: 2rem;
			line-height: 0.8;
			margin-bottom: 10px;
		}

		.date_title .subtitle {
			font-size: 1.2rem;
			line-height: 1.5;
		}

	.date_text_inner {
		width: 50%;
	}

	.date_text {
		padding: 15px;
	}

		.date_text .date {
			bottom: 2px;
			font-size: 2.2rem;
			font-weight: 700;
			line-height: 1.2;
			position: relative;
		}

			.date_text .date br {
				display: block;
			}

			.date_text .extra_detail {
				margin-top: 10px;
			}

	.extra_detail {
		font-size: 1rem;
		line-height: 1.6 !important;
	}


	/* Prices
	-------------------------------------------------- */

	.price_deal {
		padding: 30px 15px;
		text-align: center;
	}

	.price_deal_container {
		position: relative;
		height: auto;
		margin: 0 auto;
		max-width: auto;
	}

	/* Original Price
	-------------------------------------------------- */
	.original_price {
		font-size: 1.8rem;
		margin-bottom: 10px;
	}

		.original_price em:after {
		    border-bottom: 3px solid #f32d83;
    		content: '';
		    position: absolute;
		    right: -71%;
		    top: 53%;
		    width: 137px;
		}

		.original_price span {
			font-size: 1.2rem;
		}


	/* New Price
	-------------------------------------------------- */
	.new_price_container {
	    display: block;
		position: relative;
	}

	.new_price_inner {
		display: block;
		margin-bottom: 15px;
		vertical-align: bottom;
	}

	.new_price {
		font-size: 3.5rem;
	}

		.new_price em {
			font-style: italic;
			font-weight: 700;
			margin-right: 4px;
		}

		.new_price span {
			font-size: 1.6rem;
		}

	.price_bubble {
	    height: 120px;
	    margin: 0 auto;
		width: 120px;
	}

		.price_bubble p {
			font-size: 1.4rem;
		}

}


/* --------------------------------------------------
 11: FAQ
-------------------------------------------------- */

.qa_inner {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	height: 50px;
}
	
	.qa_inner:first-child {
		margin-bottom: 40px;
	}

.question_answer:nth-child(6) {
	margin-bottom: 55px !important;
}

.Q, .A {
	margin-right: 20px;
	text-align: center;
	width: 55px;
}

	.Q::after, .A::after {
		font-size: 6rem;
		font-weight: 700;
		line-height: 0.57;
		padding-bottom: 1.4px;
	}
	
	.Q::after { content: "Q"; }
	.A::after { content: "A"; }

.q_text, .a_text {width: 100%;}

.q_text {font-weight: 700;}

.email {
	text-align: center;
}

@media screen and (max-width: 768px){
	.qa_inner {height: auto;}
		.qa_inner:first-child {margin-bottom: 20px;}

	.question_answer:nth-child(6) {
		margin-bottom: 25px !important;
	}

	.Q::after, .A::after {font-size: 5rem;}
	
	.q_text {font-size: 1.4rem;}
	.a_text {font-size: 1.2rem;}
}


/* --------------------------------------------------
 12: Profiles
-------------------------------------------------- */

.profile_heading_container {
	-webkit-align-items: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.profile_pic {
	max-width: 60%;
}

.profile_title_container {
	padding-left: 40px;
	width: 40%;
}

	.profile_title_container * {
		text-align: left;
	}

.profile_title {
	font-size: 3.6rem;
	margin-bottom: 10px;
}

	.profile_title em {
		letter-spacing: 0.06em;
	}

.profile_subtitle {
	font-size: 1.6rem;
	font-weight: 500;
	margin-bottom: 30px;
}

@media screen and (max-width: 768px){

	.profile_heading_container {
		display: block;
		margin-bottom: 15px !important;
	}

	.profile_pic {
		margin-bottom: 20px;
		max-width: 100%;
	}

	.profile_title_container {
		padding-left: 0;
		width: 100%;
	}

	.profile_title {
		font-size: 2.4rem;
	}

	.profile_subtitle {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}
}


/* --------------------------------------------------
 13: Footer Button
-------------------------------------------------- */

#footer_button.wrapper {
	padding-top: 0px; 
}

#footer_button .block {
	padding: 0;
}

#footer_button .book_button {
	border: none;
	padding: 60px 10px;
}

	#footer_button .book_button p {
		font-size: 3rem;
	}

	#footer_button .book_button:after {
		font-size: 1.3rem;
	}

@media screen and (max-width: 768px) {

	#footer_button .book_button {
		padding: 30px 25px;
	}

		#footer_button .book_button p {
			font-size: 2rem;
		}

		#footer_button .book_button:after {
			font-size: 1rem;
		}
}


/* --------------------------------------------------
 14: Footer
-------------------------------------------------- */

#footer {
	background-color: #fff;
	padding: 30px 40px;
}

.footer_content {
	position: relative;
}

.nav-footer {
	display: inline-block;
	margin: 0 0 0 auto;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

	.nav-footer ul {
	    font-size: 0;
	    letter-spacing: -1em;
	    word-spacing: -1em;
	}

	.nav-footer li {
	    display: inline-block;
	    letter-spacing: normal;
	    word-spacing: normal;
	    vertical-align: top;
	}

		.nav-footer li:not(:first-child)::before {
	    	content: "｜";
		}

	.nav-footer a {
		border-bottom: none;
		font-weight: 500;
	}
	
.logos {
	display: inline-block;
}

	.logos a {
		border-bottom: none;
	}

.playfool_logo {
	height: 60px;
	line-height: 0;
	margin-right: 30px
}

.mimicry_logo {
	height: 40px;
	-webkit-transform: translateY(-25%);
	transform: translateY(-25%);
}

@media screen and (max-width: 768px) {

	.footer_content {
		text-align: center;
	}

	.nav-footer {
		display: block;
		position: static;
		transform: none;
	}

	.logos {
		margin-top: 20px;
	}

	.playfool_logo {
		height: 50px;
		margin-right: 20px
	}

	.mimicry_logo {
		height: 30px;
	}
}


/* --------------------------------------------------
 15: Landing
-------------------------------------------------- */

	body.landing #page-wrapper {
		padding-top: 0;
		z-index: 0;
	}

